@import '../../variables.scss';

#gallery {
	max-width: 1200px;
	margin: auto;
	padding: 1.5rem;

	header {
		margin-bottom: 2rem;

		.title-row {
			justify-content: space-between;
		}

		h1 {
			text-transform: capitalize;
			margin-bottom: 8px;
		}

		.version-text {
			margin-right: 8px;
			padding: 8px 0;

			font-size: 16px;
			line-height: 16px;
		}

		.drop-down {
			position: relative;
			cursor: pointer;
	
			.drop-down-list {
				position: absolute;
				top: 0;
				right: 0;
	
				height: 0;
				min-width: 250px;
				width: auto;
				
				color: #000;
				background-color: #fff;
				border-radius: 5px;
				box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.25);
	
				z-index: 3;
				overflow: hidden;
				transition: height 0.1s linear;
	
				li {
					padding: 12px;
	
					font-size: 16px;
					border-top: 1px solid #ddd;

					cursor: pointer;
					&:hover {
						color: #fff;
						background-color: $themeColor;
					}

					&:first-of-type {
						border-top: none;
					}
				}
			}
		}
	
		.drop-down-display {
			.drop-down-list {
				transition: height 0.2s linear;
			}
		}

		.options {
			.drop-down-value {
				height: 24px;
				width: 24px;

				transform: rotate(0deg);
				-webkit-transform: rotate(0deg);

				transition: all 0.2s linear;

				&:hover {
					color: $themeColor;
				}

				&.spin-option-wheel {
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}

			.drop-down-list {
				top: 32px;
			}

			&.drop-down-display {
				.drop-down-list {
					height: 282px;
				}
			}
		}

		.versions {
			display: inline-block;
			width: auto;
			padding-right: 32px;

			.drop-down-value {
				height: auto;
				width: 100%;
				padding: 8px 0 8px 0;
	
				font-size: 16px;
				line-height: 16px;
			}

			.drop-down-list {
				top: 32px;

				min-width: unset;
				width: 100%;
			}

			.arrow {
				position: absolute;
				top: 5px;
				right: 8px;
	
				border: solid #fff;
				border-width: 0 2px 2px 0;
				width: 2px;
				padding: 5px;
				margin-left: 0;
		
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
	
				transition: all 0.2s linear;
			}

			&.drop-down-display {
				.drop-down-list {
					height: 43px;
				}
	
				.arrow {
					top: 12px;
		
					transform: rotate(225deg);
					-webkit-transform: rotate(225deg);
				}
			}
		}
	}

	@media screen and (min-width: 500px) {
		.images { 
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0.5rem;
			margin: 0.5rem auto;
		}
	}

	@media screen and (min-width: 650px) {
		.images { 
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media screen and (min-width: 900px) {
		.images { 
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media screen and (min-width: 1200px) {
		.images { 
			grid-template-columns: repeat(5, 1fr);
		}
	}
}