@import '../../variables.scss';

#gallery {
	max-width: 1200px;
	margin: auto;
	padding: 1.5rem;

	header {
		margin-bottom: 2rem;

		.title-row {
			justify-content: space-between;
		}

		h1 {
			margin-bottom: 8px;
		}

		.version-text {
			margin-right: 8px;
			padding: 8px 0;

			font-size: 16px;
			line-height: 16px;
		}
	}

	@media screen and (min-width: 500px) {
		.images { 
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0.5rem;
			margin: 0.5rem auto;
		}
	}

	@media screen and (min-width: 650px) {
		.images { 
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media screen and (min-width: 900px) {
		.images { 
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media screen and (min-width: 1200px) {
		.images { 
			grid-template-columns: repeat(5, 1fr);
		}
	}
}