@import '../../variables.scss';

#signin {
	max-width: 800px;
	margin: auto;
	padding: 1.5rem;

	h1 {
		margin-bottom: 2rem;
		text-align: center;
	}
	
	button {
		min-width: 200px;
		float: right;
	}
}