@import '../../variables.scss';

#home {
	max-width: 800px;
	margin: auto;
	padding: 1.5rem;

	h1 {
		margin-bottom: 2rem;
		text-align: center;
	}

	.auth-options {
		a {
			width: 100%;

			button {
				width: 100%;
				margin-bottom: 1rem;
			}
		}
	}

	@media screen and (min-width: 768px) {
		.auth-options {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			a {
				width: 45%;
	
				button {
					width: 100%;
				}
			}
		}
	}
}