@import '../../variables.scss';

#review {
	max-width: 1200px;
	margin: auto;
	padding: 1.5rem;

	h1 {
		text-align: center;
	}

	header {
		margin-bottom: 3rem;

		.row {
			justify-content: space-between;

			h1 {
				text-transform: capitalize;
			}
		}

		h2 {
			margin: 1.5rem 0 8px 0;
			font-size: 1rem;
			line-height: 1rem;
			text-align: center;
		}

		.progress-bar {
			min-height: 19px;
			width: 100%;
			margin-bottom: 1rem;
			background-color: $bcolor4;
			border: 1px solid #fff;
			border-radius: 5px;

			.row {
				justify-content: start;
				align-items: center;

				.progress-completed {
					color: #fff;
					text-align: center;
	
					&.liked {
						background-color: $successColor;
					}

					&.disliked {
						background-color: $errorColor;
					}

					&:first-of-type {
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}

					&:last-of-type {
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}
		}

		p {
			color: #d6d6d6;
		}
	}
}