@import '../../variables.scss';

#review {
	width: 50%;
	max-width: 800px;
	margin: auto;
	padding: 1.5rem;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 2rem;

		h1 {
			text-transform: capitalize;
		}
	}

	.images {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		grid-gap: 24px;

		figure {
			position: relative;
			width: 100%;
			cursor: pointer;

			&:before {
				content: "";
				float: left;
				padding-top: 100%;
			}

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0; 
				width: 100%; 
				height: 100%;
				object-fit: cover; 
				object-position: center;
			}

			.review-buttons {
				position: absolute;
				top: calc(100% - 40px);
				right: 0;
			}

			.like,
			.dislike {
				margin: 0 4px;
				fill: #ddd;
			}

			.like {
				&.liked {
					fill: green;
				}

				&:hover {
					fill: green;
				}
			}

			.dislike {
				transform: scale(-1);

				&.disliked {
					fill: red;
				}

				&:hover {
					fill: red;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		.images {
			grid-template-columns: repeat(4, minmax(150px, 1fr));
			grid-gap: 0.5rem;
			margin: 0.5rem auto;
		}
	}
}