@import '../../../variables.scss';

#add-gallery {
	margin-bottom: 1.5rem;

	.error {
		margin-bottom: 1rem;
		color: #ce4242;
		text-align: center;
	}

	form {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 600px;
		margin: auto;
		
		input {
			height: 100%;
			margin: 0;

			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		button {
			height: 100%;
			line-height: unset;

			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	@media screen and (min-width: 600px) {
		margin-bottom: 3rem;
	}
}