@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import './Variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	background-color: $bcolor2;
	color: $color1;
}

button {
	padding: 0.5rem 1rem;
	
	color: $themeColor;
	background: #fff;
	
	font-family: 'Roboto', 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1rem;

	border: 1px solid $themeColor;
	border-radius: 5px;
	outline: none;

	cursor: pointer;

	&:hover {
		color: #fff;
		background: $themeColor;
	}

	&:disabled {
		color: #888888;
		cursor: not-allowed;

		&:hover {
			color: #888888;
			background: #fff;
		}
	}
}

input {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;

	font-family: 'Roboto', 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1rem !important;

	border: 1px solid $themeColor;
	border-radius: 5px;
	outline: none;
}

.row {
	display: flex;
	align-items: center;
}