@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import './Variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	// background-color:
	// color:
}