@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import './Variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	background-color: $bcolor2;
	color: $color1;
	letter-spacing: 0.05rem;
}

button {
	padding: 0.5rem 1rem;
	
	color: #fff;
	background: $bcolor4;
	
	font-family: 'Roboto', 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1rem;

	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;

	cursor: pointer;

	&:hover {
		color: #fff;
		background: $themeColor;
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			color: #fff;
			background: $bcolor4;
		}
	}
}

input {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;

	font-family: 'Roboto', 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1rem !important;

	color: #fff;
	background: $bcolor4;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.row {
	display: flex;
	align-items: center;
}

.success {
	margin-bottom: 1rem;
	color: $successColor;
	text-align: center;
}

.error {
	margin-bottom: 1rem;
	color: $errorColor;
	text-align: center;
}